<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Sobre nosotros</h3>
                    </div>
                    <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis montes.</p>
                    <p>Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis montes.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Información</h3>
                    </div>
                    <ul class="footer-links">
                        <li><a href="index.html#">Inicio</a></li>
                        <li><a href="index.html#">Blog</a></li>
                        <li><a href="index.html#">Nosotros</a></li>
                        <li><a href="contact.html">Contacto</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Detalles de contacto</h3>
                    </div>

                    <ul class="footer-links">
                        <li><a href="mailto:#">info@tupagina.com</a></li>
                        <li><a href="index.html#">www.tupagina.com</a></li>
                        <li>Av. Siempreviva 5555</li>
                        <li>+54 3764 112233</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>