<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img src="images/logo.png" alt="She Tech logo" class="responsive">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-host">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" th:href="@{/homePage}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link"  th:href="@{/posteo}">Posteos</a></li>
                    <li class="nav-item"><a class="nav-link"  th:href="@{/registrarse}">Registrarse</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="hover-btn-new log" th:href="@{/login}"><span>Entrar</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>