<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    
    
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" th:href="@{/styleT.css}" type="text/css">

    <!--
    <style>
        body{
            background-color:lavender;
            color: chocolate;
        }
    </style> 
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
     -->
</head>
<body>
<h1>Home Pagedsd!!!</h1>
</body>

</html>
