<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org" lang="es" class=" js csstransitions desktop portrait csstransforms csstransforms3d">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">   
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="images/hand-shake.png" >
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/versions.css">
        <link rel="stylesheet" href="css/responsive.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
        <script src="js/modernizer.js"></script>
        <title>She Tech | Posteos</title>  
    </head>
<body class="host_version" cz-shortcut-listen="true"> 
	<div id="preloader" style="display: none;">
		<div class="loader-container done">
			<div class="progress-br float shadow done">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	
	<th:block th:include="/_header"></th:block>
	
	
	<div id="domain" class="section wb">
        <div class="container">
            <table id="posteosTable" class="display">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Texto</th>
                        <th>Empresa</th>
                        <th>Fecha</th>
                        <th>Usuario</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="posteos : ${listPosteo}">
                        <td th:text="${posteos.getPosteoId()}"></td>
                        <td th:text="${posteos.getNombre()}"></td>
                        <td th:text="${posteos.getTexto()}"></td>
                        <td th:text="${posteos.getEmpresa().getNombre()}"></td>
                        <td th:text="${posteos.getFechaPosteo()}"></td>
                        <td th:text="${posteos.getUsuario().getUsername()}"></td>
                        <td>
                            <form>
                                <button>Eliminar</button>
                            </form>
                            <form>
                                <button>Editar</button>
                            </form>
                            <form>
                                <button>Calificar</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
                <tfooter>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Texto</th>
                        <th>Empresa</th>
                        <th>Fecha</th>
                        <th>Usuario</th>
                        <th>Acción</th>
                    </tr>
                </tfooter>
            </table>
            <a href="/addPosteo">Agregar Posteo</a>

        </div>
    </div>
	
    <th:block th:include="/_footer"></th:block>

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-left">                   
                    <p class="footer-company-name">Curso el Desarrollador multiplataforma certificado </p>
                </div>

                <div class="footer-right">
                    <ul class="footer-links-soi">
						<li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="index.html#"><i class="fa fa-github"></i></a></li>
						<li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="index.html#"><i class="fa fa-dribbble"></i></a></li>
						<li><a href="index.html#"><i class="fa fa-pinterest"></i></a></li>
					</ul>
                </div>
            </div>
        </div>
    </div>

    <a href="index.html" id="scroll-to-top" class="dmtop global-radius" style="bottom: -100px;"><i class="fa fa-angle-up"></i></a>

    <script src="js/all.js"></script>
    <script src="js/custom.js"></script>
	<script src="js/timeline.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    
	<script>
        $(document).ready( function () {
            $('#posteosTable').DataTable();
        } );
		timeline(document.querySelectorAll('.timeline'), {
			forceVerticalMode: 700,
			mode: 'horizontal',
			verticalStartPosition: 'left',
			visibleItems: 4
		});
	</script>
</body>
</html>